Source: python-oejskit
Section: python
Priority: extra
Maintainer: Anders Hammarquist <iko@debian.org>
Build-Depends: debhelper (>= 7), python-setuptools (>= 0.6c7), python-support, python-all-dev (>= 2.5.4)
X-Python-Version: >= 2.6
Standards-Version: 3.8.3
Homepage: http://pypi.python.org/pypi/oejskit

Package: python-oejskit
Section: python
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${shlibs:Depends}, libjs-mochikit
Recommends: python-py
Provides: ${python:Provides}
Description: Python driven JavaScript unit testing
 oejskit contains infrastructure and in particular a py.test plugin to
 enable running tests for JavaScript code inside browsers directly
 using py.test as the test driver. There is also some support for
 running JavaScript tests from unittest.py based test suites.
. 
 oejskit also enables integration testing of JavaScript code against
 server-side Python code. Any server-side framework that can already
 be exposed through WSGI (or for which a subset of WSGI can be written
 to accommodate the oejskit own needs) can play along.
.
 oejskit also contains code to help modularizing JavaScript code which
 can be used to describe and track dependencies dynamically during
 development and that can help resolving them statically when
 deploying/packaging.
